<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">


<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<h1> Modifier le fichier</h1>
	
	<div >
		<form method="POST" enctype="multipart/form-data" action="/edit">


			<div class="form-group">
				<label for="etat">etat </label>
				<input type="checkbox" id="etat" name="etat"/>
				<input type="hidden" name="etat" value="false"/>
			</div>
			<div class="form-group">
				<label for="motif">motif </label>
				<input type="text" class="form-control" id="motif" placeholder="Enter le motif" name="motif"/>
				<span class="error"></span>
			</div>
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" />
									
								</td></tr>
			</table>
		</form>
	</div>
	<a th:href="@{/editDocument}">consulter mes documents</a>


</body>
</html>
