<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Espace de gestion des notes de frais</title>
</head>
<body>
	<h1>Bienvenue  <span th:text="${user.getName()}"/> à la page d'acceuil!</h1>

	<a style="color: blue" th:href="@{/uploadForm}">Upload file</a>
	<br />
	<a style="color: blue" th:href="@{/editDocument}">Manage Documents</a>
	<br/>
	<div class="col-md-12">
		<a href="#" class="btn btn-default margin-top-5"
		   ng-click="logout()"> Logout </a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controller.js"></script>
</body>
</html>