<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:dt="http://www.thymeleaf.org/dandelion/datatables">
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/app.css"/>

<body>
<div class="container" style="margin-top: 50px;">
	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3> Modifier les informations du consultant</h3>



		<form action="#" th:action="@{/modificaion}" th:object="${user}" method="post">

			<div class="form-group">
				<label for="soldeConges"> Solde Conges </label>
				<input type="number" class="form-control" id="soldeConges" placeholder="Solde" name="soldeConges" th:field="*{soldeConges}"/>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="jourDeRecup"> Jour De Recup </label>
				<input type="number" class="form-control" id="jourDeRecup" placeholder="jourDeRecup" name="jourDeRecup" th:field="*{jourDeRecup}"/>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="mission"> Mission </label>
				<input type="text" class="form-control" id="mission" placeholder="mission" name="mission" th:field="*{mission}"/>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="CertificationObtenues"> Certification Obtenues </label>
				<input type="text" class="form-control" id="CertificationObtenues" placeholder="Certification Obtenuese" name="CertificationObtenues" th:field="*{CertificationObtenues}"/>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="CertificationEnCours"> Certification En Cours </label>
				<input type="text" class="form-control" id="CertificationEnCours" placeholder="Certification En Cours" name="CertificationEnCours" th:field="*{CertificationEnCours}"/>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="livre"> Livre </label>
				<input type="number" class="form-control" id="livre" placeholder="livre" name="livre" th:field="*{livre}"/>
				<span class="error"></span>
			</div>
			<div class="form-group">
				<label for="noteFrais"> Note de frais </label>
				<input type="number" class="form-control" id="noteFrais" placeholder="Enter le solde" name="noteFrais" th:field="*{noteFrais}"/>
				<span class="error"></span>
			</div>
			
			<div class="form-group">
				<span class="error"></span>
			</div>
			<input type="hidden" th:field="*{user_id}" />
			<input type="hidden" th:field="*{email}" />
			<input type="hidden" th:field="*{principalId}" />
			<input type="hidden" th:field="*{photo}" />
			<input type="hidden" th:field="*{password}" />
			<input type="hidden" th:field="*{telephone}" />
			<input type="hidden" th:field="*{roles.role_id}" />
			<input type="hidden" th:field="*{roles.role}" />
			
			
			<div class="form-group">
				<label for="name"> Consultant :  </label>
				<input type="text" id="name" th:field="*{name}" />
			</div>

			<div class="panel-heading">
				<input type="submit" class="register" value="save changes" />
				<div class="clear"></div>
			</div>
		</form>
			<div class="panel-heading">
				<a class="btn btn-default margin-top-5"   th:href="@{/editUsers}"  >Daschboard des consultants</a>
			</div>
	</div>
</div>
</div>

</body>
</html>